.tool-button {
    -fx-background-color: transparent;
    -fx-padding: 8;
    -fx-cursor: hand;
    -fx-border-color: #e0e0e0; /* Very light gray border */
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0);
    -fx-text-fill: #333;
    -fx-font-size: 14px;
}

.tool-button:hover {
    -fx-background-color: #dddddd;
    -fx-border-color: #bbbbbb;
}

.tool-button:selected,
.tool-button:armed,
.tool-button:focused:pressed {
    -fx-background-color: #f27847; /* Orange like MolView */
    -fx-border-color: #fb5301;
    -fx-text-fill: black;
}


.palette-bg {
    -fx-background-color: #ffffff;
    -fx-border-width: 2;
    -fx-border-color: #1e435e;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.sidebar-bg {
    -fx-background-color: #f0f0f0;

}